body {
  margin: 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  padding-inline: 1.5rem;
  padding-block: 0.7rem;
  border: none;
  border-radius: 0.35rem;
  background-color: #10b981;
  cursor: pointer;
  transition: ease-in-out 150ms;
}

.button:hover {
  filter: brightness(110%);
  transform: scale(110%);
}

.button:active {
  transform: scale(90%);
}
